
.myform{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 8px;
}
.myform2{
    border: 1px solid gray;
    padding: 20px;
    border-radius: 8px;
}

#result p {
    padding: 0;
    margin: 0;
    margin-left: 1rem;
}


@media screen and (max-width: 560px){
    .myRow{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .myform{
        margin-bottom: 20px;
    }
    .myform2 .p1{
        display: flex;
        flex-direction: column;
    }
}